nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}
section {
    grid-area: section;
}
footer{
    grid-area: footer;
    clear: both;

}
#layout {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
    'nav nav'
    'header header'
    'section section'
    'main main'
    'footer footer';
    background-color: rgb(220,220,220);
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    margin-right: 10px;
}
