body {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 15px;
}
header {
    background-color: rgb(106, 118, 153);
    font-family: Tahoma, Verdana, Arial, Helvetica , sans-serif;
    color: white;
    letter-spacing: 5px;
    background-image: url('img/newLogo.PNG');
    background-repeat: no-repeat;
    padding-left: 100px;
    height: 100px;
}

header h1 {
    margin-bottom: 0px;
}
header h4 {
    margin-top: 0px;
}
section h2 {
    color: #404963;
    text-shadow: 2px 2px #d7dce6f6;
}
main{
     background-color: rgb(220,220,220);
}
footer{
     background-color: rgb(106, 118, 153);
     color: white;
     text-align: center;
     font-size: x-small;
     line-height:2em;

}
.center {
     text-align: center;
}
nav, main, footer {
    padding: 5px 5px 5px 5px;
}
section {
    padding-left: 5px;
}
nav {
    background-color: rgb(255, 255, 255);
}
nav a {
    color:  rgb(50, 63, 109);
    text-decoration: none;
    font: 18px bold;
    padding: 2px, 5px;
}
nav a:hover {
    color: rgb(133, 53, 238);
    text-decoration: underline;
}
nav ul {
    list-style-image: url('img/star10.gif');

}
section {
    background-image: url('img/healthy.jpg');
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
 }
 aside{
    float: right;
    width:25%;
    background-image: linear-gradient(rgb(51, 156, 156), white);
    border: 5px solid rgb(10, 162, 185);
    border-radius: 20px;
    padding: 50px;
    box-shadow: 20px 10px 50px 20px rgb(182, 228, 98)inset;
 }
